section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    h1 {
        color: var(--color-primary);
    }

    div {
        background-color: var(--color-background);
        padding: 10px;
        border-radius: 5px;

        p {
            padding: 5px;
            border-bottom: solid var(--color-accent) 1px;
            border-radius: 3px;
        }

        div {
            display: flex;
            justify-content: space-between;

            i {
                padding: 4px;
                float: right;
                cursor: pointer;
            }
        }
    }
}
