<html>
<head>
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <title>angular</title>
</head>
<body>
<div class="main" ng-app="mytodo" ng-controller="myCtrl">
    <h1>Todo List App</h1>
    <div class="search">
        <input name="text" type="text" [(ngModel)]="task"/>
        <span (click)="addTask(task)"><i class="fas fa-plus"></i></span>
    </div>
    <ul *ngIf="show">
        <li *ngFor="let task of tasks">
            <p class="item" [routerLink]="['details', task.id]">{{ task.name }}</p>
            <i class="fas fa-trash-alt" (click)="deleteTask(task.id)"></i>
            <i class="fa-solid" [class.fa-x]="task.completed" [class.fa-check]="!task.completed"
               (click)="completeTask(task.id, !task.completed)"></i>
        </li>
    </ul>

    <div *ngIf="!tasks.length" class="noTasks">
        <span>There are no tasks to be shown at this time.</span>
        <br>
        <span>Please add one with the top textbox.</span>
    </div>
    <p></p>
</div>
</body>
</html>
