body {
    justify-content: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 500px;
    padding: 15p;
    background-color: var(--color-background);
}

h1 {
    text-align: center;
    color: var(--color-primary);
    margin: 10px;
}

input[type=text] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-left: 8px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.search {
    position: relative;
}

.search span {
    position: absolute;
    top: -10px;
    right: -4px;
    background: var(--color-primary);
    padding: 20px;
    display: flex;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;

}

.search span i {
    line-height: -100%;
}

.noTasks {
    text-align: center;
}

ul {
    padding: 2px;
    list-style: none;
}

ul li {
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    border-right: 4px solid var(--color-primary);
    border-left: 4px solid var(--color-primary);
}

ul li i {
    padding: 4px;
    float: right;
    cursor: pointer;
}

p.item {
    margin: 0;
    padding: 0;
    display: inline;

    &:hover {
        cursor: pointer;
    }
}
